body {
	background-color: #00BFFF;
	font-family: calibri;
}

input { 
	background-color: #1E90FF;
	border-color: #1E90FF;
	color: black;
	font-family: calibri;
	font-weight: bold;
	font-size: 12pt;
	width: 14em;  height: 2em;
}

label {
	display: block; width: 200px;
}

button {
	background-color: #1E90FF;
	border-color:#1E90FF;
	width: 140px;
}

option {
	background-color: #1E90FF;
	border-color:#1E90FF;
	width: 140px;
}

table {
	width: 70%;
}

table, th, td {
	border: 1px solid black;
    border-collapse: collapse;
}

th, td {
	padding: 4px;
}

tr:first-child td {
    font-weight: bold;
}
